.btn {
  margin-top: 100px;
  padding: 10px;
  border: none;
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn {
  background: deepskyblue;
}