.movie-view {
  display: flex;
  max-width: 800px;
  margin: 40px auto;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

.movie-image {
  width: 100%;
  padding: 20px 20px 0 20px; /* Add padding on all sides except the bottom */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-self: flex-start; /* Align to the top */
}

.movie-image img {
  width: 100%;
  height: auto;
}

.movie-content {
  padding: 20px;
  flex-grow: 1;
}

.favorite-button, .back-button {
  margin: 10px;
  padding: 10px;
  border: none;
  background: dodgerblue;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.favorite-button:hover, .back-button:hover {
  background: deepskyblue;
}

.button-container {
  text-align: right; 
}